<%- include ('../partials/header.ejs') %>
      <div class="page-container nuni">
        <h1 class="page-header">Hi, <%= user.nickname %></h1>
        <p class="page-subtitle">Here is how your reading is going so far</p>
        <div class="dashboard-container" style="margin-top: 33px; margin-bottom: 30px;">
            <h2 class="dashboard-container-title" style="margin-bottom: 12px">books read</h2>
            <div style="display:flex; gap: 5px;">
              <canvas id="books-read-chart" style="width: 100%; max-height: 300px;"></canvas>
            </div>
        </div>
        <div class="dashboard-container" style="margin-bottom: 50px; display: flex; flex-direction: column; min-height: 50px;">
            <h2 class="dashboard-container-title">reading history</h2>
            <div style="min-height: 70px; max-height: 474px; overflow:scroll;">
              <% if (history.length) {%>
                <table class="history-container">
                  <tr>
                    <th></th>
                    <th>title</th>
                    <th>author</th>
                    <th>date completed</th>
                  </tr>
                  <% history.forEach(book => { %>
                    <tr class="history-book">
                      <td><a href="/book?id=<%=book._id%>"><img class="history-book-img" src="<%=book.image%>"></a></td>
                      <td class="history-book-title">
                        <%=book.title %>
                      </td>
                      <td class="history-book-author">
                        <%=book.author %>
                      </td>
                      <td class="history-book-date">
                        <%=book.dateCompleted%>
                      </td>
                    </tr>
                  <% }) %>
                </table>
              <% }%>
            </div>
        </div>
      </div>
      <script>
        const booksRead = document.getElementById('books-read-chart').getContext('2d')
        const bookPageYTD = <%-JSON.stringify(insights.bookPageYTD)%>
        var xValues = Object.keys(bookPageYTD).reverse();
        var yValues = Object.entries(bookPageYTD).map(([key,value])=> value.books).reverse();
        new Chart(booksRead, {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: "#73D750",
              borderColor: "#252825",
              borderWidth: 1,
              data: yValues
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                  ticks: {
                      fontFamily: 'Nunito'
                  },
                  beginAtZero: true
              }],
              xAxes: [{
                  ticks: {
                      fontFamily: 'Nunito'
                  }
              }]
            },
            legend: {
              display: false
            }
          }
        });
    </script>
<%- include('../partials/footer.ejs') %>