<%- include ('../partials/header.ejs') %>
      <div class="page-container nuni">
        <h1 class="page-header">Hi, <%= user.nickname %></h1>
        <p class="page-subtitle">Here is how your reading is going so far</p>
        <div class="dashboard-container" style="margin-top: 33px; margin-bottom: 30px;">
            <h2 class="dashboard-container-title" style="margin-bottom: 12px">books read</h2>
            <div style="display:flex; gap: 5px;">
            </div>
        </div>
        <div class="dashboard-container" style="margin-bottom: 50px; display: flex; flex-direction: column; min-height: 50px;">
            <h2 class="dashboard-container-title">reading history</h2>
            <div style="min-height: 70px; max-height: 474px; overflow:scroll;">
              <% if (history.length) {%>
                <table class="history-container">
                  <tr>
                    <th></th>
                    <th>title</th>
                    <th>author</th>
                    <th>date completed</th>
                  </tr>
                  <% history.forEach(book => { %>
                    <tr class="history-book">
                      <td><a href="/book?id=<%=book._id%>"><img class="history-book-img" src="<%=book.image%>"></a></td>
                      <td class="history-book-title">
                        <%=book.title %>
                      </td>
                      <td class="history-book-author">
                        <%=book.author %>
                      </td>
                      <td class="history-book-date">
                        <%=book.dateCompleted%>
                      </td>
                    </tr>
                  <% }) %>
                </table>
              <% }%>
            </div>
        </div>
      </div>
<%- include('../partials/footer.ejs') %>